<div class="cabecera">
    <div class="cabecera--logo">
      <picture>
        <source srcset="./assets/images/logo-tenis.png?as=webp&width=350" type="image/webp" />
        <a href="/src/index.html"><img class="cabecera--logo-img" src="./assets/images/logo-tenis.png" alt="Logo del club"/></a>
      </picture>
    </div>
    <div class="cabecera--menu">
      <ul class="cabecera--lista">
        <li><a href="/src/participantes.html">Participantes</a></li>
        <li><a href="/src/informacion.html">Información</a></li>
        <li><a href="/src/formulario.html">Formulario</a></li>
      </ul>
    </div>
  </div>