<footer class="tenis-footer">
    <div class="footer--logo">
        <picture>
            <source srcset="./assets/images/logo-tenis.png?as=webp&width=350" type="image/webp" />
            <a href="/src/index.html"><img class="footer--logo-img" src="./assets/images/logo-tenis.png" alt="Logo del club"/></a>
        </picture>
    </div>
    <div class="footer--paginas">
        <ul class="footer--paginas-lista">
            <li><a href="/src/participantes.html">Participantes</a></li>
            <li><a href="/src/informacion.html">Información</a></li>
            <li><a href="/src/formulario.html">Formulario</a></li>
        </ul>
    </div>
    <div class="footer--rrss">
        <ul class="footer--rrss-lista">
            <li><a href="#"><img src="./assets/images/facebook.png" alt="Facebook"></a></li>
            <li><a href="#"><img src="./assets/images/twitter.png" alt="Twitter"></a></li>
            <li><a href="#"><img src="./assets/images/youtube.png" alt="Youtube"></a></li>
        </ul>
    </div>
</footer>