<footer class="uoc-footer">
    <div class="footer--logo">
        <picture>
            <source srcset="./assets/images/logo-tenis.png?as=webp&width=350" type="image/webp" />
            <img class="footer--logo-img" src="./assets/images/logo-tenis.png" alt="Logo del club"/>
        </picture>
    </div>
    <div class="footer--paginas">
        <ul class="footer--paginas-lista">
            <li>Página 1</li>
            <li>Página 2</li>
            <li>Página 3</li>
            <li>Página 4</li>
        </ul>
    </div>
    <div class="footer--rrss">
        <ul class="footer--rrss-lista">
            <li>Google +</li>
            <li>Facebook</li>
            <li>Twitter</li>
        </ul>
    </div>
</footer>